<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">

	<context:annotation-config />
	<context:component-scan base-package="com.platform.generator" />

	<bean id="generatorConfigList" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<ref bean="generatorConfig" />
				<!-- <ref bean="generatorConfig1"/> D:/sts-bundle/platform/platform-admin-->
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="generatorConfig" class="com.platform.generator.config.GeneratorConfig">
		<property name="basePath" value="D:/yonyou/iuap/ab-gen/" />
		<!-- <property name="tableNames" value="%"></property> -->
		<property name="tableNames" value="pub_fileinfo"></property>
		<property name="dbName" value="ab"></property>
		<property name="dataSource" ref="dataSource"></property>
		<property name="generatorBeanMap">
			<bean class="java.util.HashMap">
				<constructor-arg>
					<map>
						<entry key="generatorBean" value-ref="generatorBean"></entry>
					</map>
				</constructor-arg>
			</bean>
		</property>
	</bean>
	
	<bean id="typeConver" class="com.platform.generator.interfaces.impl.DefaultTypeConver"></bean>

	<bean id="generatorBean" class="com.platform.generator.bean.GeneratorBean">
		<property name="packageName" value="com.ab.ins" />
		<property name="configList">
			<bean class="java.util.ArrayList">
				<constructor-arg>
					<list>
						
						<!-- domain -->
						<value>{
							"path":"/ab-ins-domain/src/main/java/",
							"parentClassName":"",
							"parentPackageName":"",
							"templateName":"module/template_model",
							"fileType":"java","fileNameSuffix":"","packageSuffix":"domain.!allLowerTName!"}
						</value>
						<!-- domain -->
						
						<!-- query -->
						<value>{
							"path":"/ab-ins-domain/src/main/java/",
							"parentClassName":"BaseQuery","parentPackageName":"com.platform.common.utils.query",
							"templateName":"module/template_query",
							"fileType":"java","fileNameSuffix":"Query","packageSuffix":"domain.!allLowerTName!.query",
						}
						</value>
						<!-- query -->
						
						<!-- mapping -->
						<value>{
							"path":"/ab-ins-dao/src/main/resources/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"dao/template_sqlmap","fileType":"xml",
							"fileNameSuffix":"Mapper","packageSuffix":"sqlmap.!allLowerTName!"
							}
						</value>
						<!-- mapping -->
						
						<!-- dao -->
						<value>{
							"path":"/ab-ins-dao/src/main/java/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"dao/template_dao",
							"fileType":"java","fileNameSuffix":"Dao","packageSuffix":"dao.!allLowerTName!"
						}
						</value>
						
						<value>{
							"path":"/ab-ins-dao/src/main/java/",
							"parentClassName":"SqlSessionDaoSupport","parentPackageName":"org.mybatis.spring.support",
							"templateName":"dao/template_daoImpl",
							"fileType":"java","fileNameSuffix":"DaoImpl","packageSuffix":"dao.!allLowerTName!.impl"
						}
						</value>
						<!-- dao -->
						
						<!-- service -->
						<value>{
							"path":"/ab-ins-service/src/main/java/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"service/template_service",
							"fileType":"java","fileNameSuffix":"Service","packageSuffix":"service.!myadmintag!"
						}
						</value>
						
						<value>{
							"path":"/ab-ins-service/src/main/java/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"service/template_serviceImpl",
							"fileType":"java","fileNameSuffix":"ServiceImpl","packageSuffix":"service.!myadmintag!.impl"
						}
						</value>
						
						<value>{
							"path":"/ab-ins-service/src/test/java/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"service/template_serviceImplTest",
							"fileType":"java","fileNameSuffix":"ServiceTest","packageSuffix":"service.!myadmintag!.impl"
						}
						</value>
						<!-- service end -->
						
						<!-- controller start-->
						<value>{
							"path":"/ab-ins-web/src/main/java/",
							"parentClassName":"BaseController","parentPackageName":"com.platform.common.spring.mvc.controller",
							"templateName":"controller/template_controller",
							"fileType":"java","fileNameSuffix":"Controller","packageSuffix":"controller.!myadmintag!"
						}
						</value>
						<!-- controller end -->
						
						<!-- page List -->
						<value>{
							"path":"/boss_web/src/pages/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"page/template_list_page",
							"fileType":"vue","fileNameSuffix":"List","packageSuffix":"!myadmintag!"}
						</value>
						<!-- page List -->
						
						<value>{
							"path":"/boss_web/src/pages/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"page/template_edit_page",
							"fileType":"vue","fileNameSuffix":"Edit","packageSuffix":"!myadmintag!"
						}
						</value>
						<value>{
							"path":"/boss_web/src/pages/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"page/template_detail",
							"fileType":"vue","fileNameSuffix":"Detail","packageSuffix":"!myadmintag!"
						}
						</value>
						<value>{
							"path":"/boss_web/src/assets/model",
							"parentClassName":"","parentPackageName":"",
							"templateName":"page/template_model",
							"fileType":"js","fileNameSuffix":"Model","packageSuffix":"!myadmintag!"
						}
						</value>
						<value>{
							"path":"/boss_web/data",
							"parentClassName":"","parentPackageName":"",
							"templateName":"page/template_btn_json_page",
							"fileType":"json","fileNameSuffix":"Btn","packageSuffix":"!myadmintag!"
						}
						</value>
						
						<!-- main page -->
						<!-- <value>{
							"path":"/ab-ins-web/src/main/webapp/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"page/template_page",
							"fileType":"vm","fileNameSuffix":"","packageSuffix":"!myadmintag!"
						}
						</value>
						main page
						
						list page
						<value>{
							"path":"/ab-ins-web/src/main/webapp/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"page/template_list_page",
							"fileType":"vm","fileNameSuffix":"List","packageSuffix":"!myadmintag!"
						}
						</value>
						list page
						
						edit page
						<value>{
							"path":"/ab-ins-web/src/main/webapp/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"page/template_edit_page",
							"fileType":"vm","fileNameSuffix":"Edit","packageSuffix":"!myadmintag!"
						}
						</value>
						edit page
						
						edit page
						<value>{
							"path":"/ab-ins-web/src/main/webapp/",
							"parentClassName":"","parentPackageName":"",
							"templateName":"page/template_list_serach_page",
							"fileType":"vm","fileNameSuffix":"Search","packageSuffix":"!myadmintag!"
						}
						</value> -->
						<!-- edit page -->
						
						<!-- config -->
						<value>{
							"path":"/config",
							"parentClassName":"","parentPackageName":"",
							"templateName":"config",
							"fileType":"xml","fileNameSuffix":"","packageSuffix":"!myadmintag!"
						}
						</value>
						<!-- config -->
						
					</list>
				</constructor-arg>
			</bean>
		</property>
	</bean>

</beans>