<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName" default-lazy-init="false">


    <context:annotation-config/>
    <context:component-scan base-package="com.platform.generator"/>

    <bean id="generatorConfigList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="generatorConfig"/>
                <!-- <ref bean="generatorConfig1"/> D:/sts-bundle/platform/platform-admin-->
            </list>
        </constructor-arg>
    </bean>

    <!-- 	D:/springsource/workspace_work/platform-permit
        D:/springsource2/workspace/plat/platform-permit
        E:/sts/workspace/platform/platform-permit
        D:/sts-bundle/workspace_mda/platform-base
        D:/sts-bundle/platform/platform-admin/
        -->
    <bean id="generatorConfig" class="com.platform.generator.config.GeneratorConfig">

        <property name="dbName" value="${wangxiao.dbName}"></property>
        <property name="tableNames" value="${wangxiao.tableNames}"></property>
        <property name="basePath" value="${wangxiao.exportPath}"/>
        <property name="freemakerTemplatePath" value="${wangxiao.freemakerTemplatePath}"/>
        <property name="dataSource" ref="dataSource"></property>
        <property name="childTable" value="false" ></property>
        <property name="generatorBeanMap">
            <bean class="java.util.HashMap">
                <constructor-arg>
                    <map>
                        <entry key="generatorBean" value-ref="generatorBean"></entry>
                    </map>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="typeConver" class="com.platform.generator.interfaces.impl.DefaultTypeConver"></bean>

    <bean id="generatorBean" class="com.platform.generator.bean.GeneratorBean">
        <property name="packageName" value="${wangxiao.packageName}"/>
        <property name="configList">
            <bean class="java.util.ArrayList">
                <constructor-arg>
                    <list>

                        <!-- src 目录下的文件 -->
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/app",
                            "fileName":"app",
                            "filePath":"/src",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/app.less",
                            "fileName":"app",
                            "filePath":"/src",
                            "fileType":"less","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/index.html",
                            "fileName":"index",
                            "filePath":"/src",
                            "fileType":"html","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>

                        <!-- src/routes 目录下的文件 -->
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/index",
                            "fileName":"index",
                            "filePath":"/src/routes",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>

                        <!-- src/routes/list 目录下的文件 -->
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/list/container",
                            "fileName":"container",
                            "filePath":"/src/routes/list",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/list/model",
                            "fileName":"model",
                            "filePath":"/src/routes/list",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/list/service",
                            "fileName":"service",
                            "filePath":"/src/routes/list",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>


                        <!-- src/routes/list/components/App 目录下的文件 -->
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/list/components/App/index",
                            "fileName":"index",
                            "filePath":"/src/routes/list/components/App",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/list/components/App/index.less",
                            "fileName":"index",
                            "filePath":"/src/routes/list/components/App",
                            "fileType":"less","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <!-- src/routes/list/components/SearchArea 目录下的文件 -->
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/list/components/SearchArea/index",
                            "fileName":"index",
                            "filePath":"/src/routes/list/components/SearchArea",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/list/components/SearchArea/index.less",
                            "fileName":"index",
                            "filePath":"/src/routes/list/components/SearchArea",
                            "fileType":"less","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>

                        <!-- src/routes/edit/ 目录下的文件 -->
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/edit/container",
                            "fileName":"container",
                            "filePath":"/src/routes/edit",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <!-- src/routes/edit/components/App 目录下的文件 -->
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/edit/components/App/index",
                            "fileName":"index",
                            "filePath":"/src/routes/edit/components/App",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/edit/components/App/index.less",
                            "fileName":"index",
                            "filePath":"/src/routes/edit/components/App",
                            "fileType":"less","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/edit/components/App/factoryComp",
                            "fileName":"factoryComp",
                            "filePath":"/src/routes/edit/components/App",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <!-- src/routes/edit/components/SearchArea 目录下的文件 -->
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/edit/components/OrderChild/index",
                            "fileName":"index",
                            "filePath":"/src/routes/edit/components/OrderChild",
                            "fileType":"js","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>
                        <value>{
                            "path":"/ucf-apps",
                            "parentClassName":"","parentPackageName":"",
                            "templateName":"page/src/routes/edit/components/OrderChild/index.less",
                            "fileName":"index",
                            "filePath":"/src/routes/edit/components/OrderChild",
                            "fileType":"less","fileNameSuffix":"","packageSuffix":"!myadmintag!"}
                        </value>

                    </list>
                </constructor-arg>
            </bean>
        </property>
    </bean>

</beans>